* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif; 
}
body , html {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.active {
    color: rgba(226, 96, 9, 0.575);
    text-decoration: underline;
    font-weight: bold;
}
.navbar {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;

}
.nav-links li a {
    color: whitesmoke;
}
header {
    width: 100%;
    height: 100vh;
    background: url(../assets/img/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;  
}
.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.logo {
    color: whitesmoke;
}
.header-content h2 {
    font-size: 3vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.line {
    width: 200px;
    height: 3px;
    background:  rgba(236, 135, 68, 0.877);
    margin: 10px auto;
}
.header-content {
    font-size: 4vmin;
}
.ctn {
    padding: 8px 15px;
    background: rgba(236, 135, 68, 0.877);
    border-radius: 30px;
    color: whitesmoke;
}
#menu-bar {
  display: none;
}
 label {
    font-size: 20px;
    color: rgb(53, 48, 48);
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    color: whitesmoke;
    display: none;
}
/* section*/
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 3vmin;
    color: rgb(43, 17, 1);
}
.title h1 {
    padding-bottom: 0px;
}
.title .line {
    margin-bottom: 40px;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-col .adress {
    padding: 10px 20px;
    background: whitesmoke;
    border-radius: 30px;
    border: 1px solid;
    color: rgb(19, 1, 1);
}
.adress {
    padding: 8px 15px;
    background: whitesmoke;
    border-radius: 30px;
    border: 1px solid;
    color: rgb(19, 1, 1);
}
.adress:hover{
    background: whitesmoke;
    color: rgba(236, 135, 68, 0.877);
    box-shadow: 2px 2px 5px rgb(56, 55, 55);
}

.events .row {
    margin-top: 50px;
}
    
.events-img h3 {
    font-size: 3vmin;
    margin: 30px auto;
    color:rgb(43, 17, 1);
}
.events-img p {
    color:rgb(58, 33, 18);
    padding-bottom: 30px;
}
.events-img {
    max-width: 100%;
    height: auto;
    text-align: center;
}
.explore {
    width: 100%;
    height: 100vh;
    background: url(./img/background1.png) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}
.explore-content {
    width: 60%;
    padding: 150px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 5vmin;
}
.explore-content p {
    color: white;
    padding-top: 30px;
    font-size: 3vmin;
} 
.explore-content .ctn {
    margin-top: 40px;
}

.culture-text {
    text-align: center;
    font-size: 3vmin;
    color: rgb(43, 17, 1);
}
.culture-text h1 {
    padding-bottom: 0px;
}
.culture-text .line {
    margin-bottom: 40px;
}
.culture-content img {
    padding-top: 40px;
    width: 540px;
}
.culture-content h3 {
    font-size: 3vmin;
    margin: 30px auto;
    color:rgb(43, 17, 1); 
    text-align: center;
}
.culture-content p {
    color:rgb(58, 33, 18);
    padding-bottom: 30px;
}
.culture-content img {
    max-width: 100%;
    height: auto;
}
.culture-content {
    text-align: center;
}
.culture-img {
    padding-top: 30px;
}
.bolder .line {
    width: 100%;
    height: 1px;
    background: rgb(163, 162, 162);
    box-shadow: 4px 4px 10px #333;
}
.tours .row .col {
    width: 50%;
}
.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.image-gallery img {
    margin: 10px;
    width: 250px;
    height: auto;
   
}
.content-col h1 {
    font-size: 5vmin;
    color: rgb(43, 17, 1);   
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    margin: 30px auto;
    padding: 0;
}
.content-col .ctn {
    margin-left: -100px;
}
.footer {
    width: 100%;
    height: auto;
    padding-top: 20px;
    background: rgb(203, 203, 204); 
    text-align: center;
}
.footer {
    color: rgb(46, 43, 43);
    text-align: center;
}
.footer p {
    padding: 20px;
}
.footer a  {
    color: rgb(5, 10, 71);
}
.footer a:hover {
    color: rgba(236, 135, 68, 0.877);
    cursor: pointer;
}
img {
    border-radius: 20px;  
}
.footer-icon {
    padding: 20px 40px;
    font-size: 40px;
}
/* animation*/
img {
   transform: .3s ;
}
img:hover {
    transform: scale(0.9);
}
.ctn:hover{
    background: whitesmoke;
    color: rgba(236, 135, 68, 0.877);
    box-shadow: 2px 2px 5px rgb(56, 55, 55);

}
li a:hover {
    color: rgba(236, 135, 68, 0.877);
    cursor: pointer;
}
/* mobile*/